debug: false  # ????? ??? ??
management.endpoints.web.exposure.include: "*"

logging:
  level:
    com.ksb: debug
    org.springframework.web.servlet: debug #???? ???? ??? ?? ??? ? ? ??? ????
    org.hibernate.type.descriptor.sql.BasicBinder: trace #?? ? ??? ? ??? ?? ? ? ?? ??

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: natty
    password: 751212
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true #???? ??? ???? ?? ? ?? true
    hibernate.ddl-auto: create # entty ?? ??? ?? ??
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  h2.console.enabled: true
  sql.init.mode: always


# spring data reposit 관련 설절
  data:
    rest:.base-path: /api
    rest:
      detection-strategy: annotated

---
spring:
  config.activate.on-profile: testdb
#  datasource:
#    url:
#    driver-class-name: org.h2.Driver
#  sql.init.mode: always
#  test.database.replace: none